typer
pandas
numpy<2.0.0
obspy
scipy
requests
fiona
pyproj
yaml @ pyyaml
pytz
shapely
gmprocess
matplotlib
empirical @ git+https://github.com/ucgmsim/Empirical_Engine.git
oq_engine @ git+https://github.com/gem/oq-engine.git
qcore @ git+https://github.com/ucgmsim/qcore.git
im_calculation @ git+https://github.com/ucgmsim/IM_calculation.git
velocity_model @ git+https://github.com/ucgmsim/Velocity-Model.git